.App {
  background-color: #ECE5DD;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.app__body {
  display: flex;

  width: 90vw;
  height: 90vh;
  background-color: #f8f9fa;
  box-shadow: -1px 1px 9px 9px rgba(0, 0, 0, 0.27);
}